@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

body {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: 'Montserrat', sans-serif;
  color: 000;
  font-size: 16px;
  background-color: #F6F3F0;
}

ul, li {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #F6F3F0;
}

a:hover {
  color: #9F958B;
}

.container {
  width: 1170px;
  height: 900px;
  /* center positioning */
  margin: 0 auto;
  /* background-color: burlywood; */
}

header li {
  display: block;
}

.header {
  background: url('../img/main-bg.jpg') no-repeat center top / cover;
}

.nav a {
  color: #F6F3F0;
}

.nav a:hover {
  color: #9F958B;
}

.logo {
  margin-right: 10px;
}


.menu {
  display: flex;
}

.menu li{
  margin-right: 30px;
}

.nav {
  display: flex;
  align-items: center;
  padding-top: 27px;
  letter-spacing: 0.1em;
}

.tel {
  text-decoration: none;
  margin-left: auto;
  font-size: 14px;
  letter-spacing: 0.1em;
}

.logo-info {
  display: flex;
  align-items: center;
}

.name {
  color: #F6F3F0;
  margin-right: auto;
  padding-top: 17px;
  margin-right: 90px;
  font-size: 18px;
  font-weight: 400;
}

.offer h1 {
  margin-top: 280px;
  color: #F6F3F0;
  font-size: 72px;
}

#main-description {
  color: #F6F3F0;
  font-size: 32px;
  text-align: start;
}

.btn {
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 0.9em;
  background-color: #F6F3F0;
  color: #23190B;
  font-size: 1.25em;
  border-radius: 4em;
  height: 3.25em;
  width: 15em;
  font-weight: 300;
  box-shadow: 0px 1px 18px rgba(0, 0, 0, 0.25);
}

.btn:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.pros {
  display: flex;
  margin: 0 50px;
}

.pros-img {
  margin-top: 40px;
  margin-right: 120px;
}

h2 {
  font-size: 36px;
  font-weight: 600;
  margin-top: 60px;
  margin-bottom: 60px;

}

.video {
  width: 1042px;
  height: 544px;
  margin-left: 25px;
}

.reasons {
  display: flex;
  margin-left: 130px;
  justify-content: space-between;
}

.reasons-description {
  display: flex;
  margin-left: 100px;
  margin-top: 32px;
  justify-content: space-between;
  margin-right: 100px;
}

.reason {
  width: 156px;
  border-radius: 50%;
  margin-right: 174px;
}

.descr {
  width: 250px;
  justify-content: start;
  /* margin-bottom: 57px; */
}

.reason-name {
  font-size: 20px;
  font-weight: 400;
}

.carousel-cell {
  width: 26%;
  height: 400px;
  margin: 0 8px;
  overflow: hidden;
  /* border-radius: 8px; */
}

.carousel-cell img {
  width: 100%;
  height: 400px ;
  object-fit: cover;
}

#workshops {
  /* background-color: #23190B; */
  margin-top: 200px;
  height: 750px;
}
.card {
  display: flex;
  width: 370px;
  height: 572px;
  margin-top: 30px;
  border-radius: 40px;
  background-color: #9F958B;
  color: #F6F3F0;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
}

.card-title {
  text-align: center;
  margin-top: 40px;
  font-weight: 600;
  font-size: 24px;
}

.card-text {
  margin: 35px 39px 0px 39px;
  width: 292px;
  font-size: 16px;
  height: 190px;
}


.card-body p {
  text-align: center;
}

.price {
  font-size: 32px;
  font-weight: 600;
  margin-top: 27px;
}

.duration {
  margin-top: 6px;
}

#workshop-btn {
  margin: 25px 46px 30px 46px;
  font-size: 1em;
}

#faq {
  background: url('../img/faq-bg.jpg') ;
}

#h2-faq {
  text-align: center;
  padding-top: 95px;
  color: #F6F3F0;
}

.accordion {
  width: 970px;
  height: auto;
  margin-left: 100px;
}

.accordion-button {
  font-size: 22px;
  font-weight: 600;
}

.accordion-body {
  font-size: 18px;
  font-weight: 400;
}

.accordion-button {
  color: #23190B!important;
  background-color: #F6F3F0!important;
}

#questions {
  height: 500px;
}

#questions p {
  font-size: 18px;
}

.questions-content{
  display: flex;
}

form {
  /* background-color:#9F958B; */
  width: 600px;
  
}

#question-form{
  margin-top: 62px;
}

#questions-img{
  margin-left: auto;
  height: 256px;
  border-radius: 6px;
}

label {
  font-size: 18px;
  font-weight: 400;
}

input {
  width: 240px;
  height: 38px;
  margin-top: 9px;
  margin-bottom: 33px;
  border-radius: 6px;
  border: 0.03em solid;
  font-size: 13px;
}

#name {
  margin-top: 18px;
}

textarea {
  width: 300px;
  height: 141px;
  border-radius: 6px;
  border: 0.03em solid;
  font-size: 13px;
}

#submit {
  width: 103px;
  height: 26px;
  margin-left: 200px;
  border-radius: 40px;
  border: none;
  background-color: #9F958B;
  color: #F6F3F0;
  font-size: 13px;
  box-shadow: 0px 3px 10px -1px rgba(0, 0, 0, 0.25);
}

#submit:hover {
  background-color: #23190B;
  /* box-shadow: 0 6px 10px -1px rgba(0,0,0,0.24), 0 6px 10px -1px rgba(0,0,0,0.19); */
}

#contacts .container{
  height: 300px;
  text-align: center;
}


.contacts-heading {
  font-size: 20px;
  font-weight: 600;
}

.contacts-description {
  font-size: 16px;
  font-weight: 400;
}

footer {
  height: 295px;
  background-color: #1D1408;
}

.footer-nav {
  color: #F6F3F0;
  display: flex;
  /* width: 1170px; */
  padding-top: 45px;
  margin-right: 373px;
  margin-left: 215px;
}

.footer-nav li {
  list-style: none;
}
.footer-nav .row {
  margin-left: auto;
}


.social-media-img {
  width: 33px;
  height: 33px;
  margin-right: 10px;
}

.social-media {
  display: flex;
  margin-left: 215px;
}
.footer-links {
  margin-left: auto;
  font-size: 12px;
  display: flex;
  list-style: none;
  color: #F6F3F0;
}

.footer-links li {
  margin-right: 130px;
}

.footer-link {
  text-decoration: none;
  color: #F6F3F0;
  margin-left: 100px;
}

hr {
  width: 1100px;
  margin-left: 215px;
  margin-top: 76px;
  color: #F6F3F0;
}